@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
}
<head>
	 <link href="https://framework-gb.cdn.gob.mx/assets/styles/main.css" rel="stylesheet">
	 <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
	@RenderBody()
    <script src="https://framework-gb.cdn.gob.mx/gobmx.js"></script>
</body>
