<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT plantilla2 ANY>
<!ATTLIST plantilla2 id ID #REQUIRED>
]>
<root id="-1">
  <home id="1053" key="0aeb44d2-6415-4a0f-97f2-c55a83cfcb5b" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-02-07T18:00:05" updateDate="2018-02-12T17:24:46" nodeName="Home" urlName="home" path="-1,1053" isDoc="" nodeType="1052" creatorName="Armando Diaz" writerName="Armando Diaz" writerID="0" template="1050" nodeTypeAlias="home">
    <listaDeEnlaces><![CDATA[[
  {
    "caption": "CNH",
    "link": 1053,
    "newWindow": false,
    "internal": 1053,
    "edit": false,
    "isInternal": true,
    "internalName": "Home",
    "internalIcon": "icon-home",
    "type": "internal",
    "title": "CNH"
  },
  {
    "caption": "Rondas",
    "link": null,
    "newWindow": false,
    "internal": null,
    "edit": false,
    "isInternal": true,
    "internalName": "",
    "internalIcon": null,
    "type": "internal",
    "title": "Rondas"
  },
  {
    "caption": "Asociaciones  Estratégicas",
    "link": null,
    "newWindow": false,
    "internal": null,
    "edit": false,
    "isInternal": true,
    "internalName": "",
    "internalIcon": null,
    "type": "internal",
    "title": "Asociaciones  Estratégicas"
  },
  {
    "caption": "Administración de Contratos",
    "link": null,
    "newWindow": false,
    "internal": null,
    "edit": false,
    "isInternal": true,
    "internalName": "",
    "internalIcon": null,
    "type": "internal",
    "title": "Administración de Contratos"
  },
  {
    "caption": "Cifras Relevantes",
    "link": null,
    "newWindow": false,
    "internal": null,
    "edit": false,
    "isInternal": true,
    "internalName": "",
    "internalIcon": null,
    "type": "internal",
    "title": "Cifras Relevantes"
  },
  {
    "caption": "Arreglo Institucional",
    "link": null,
    "newWindow": false,
    "internal": null,
    "edit": false,
    "isInternal": true,
    "internalName": "",
    "internalIcon": null,
    "type": "internal",
    "title": "Arreglo Institucional"
  },
  {
    "caption": "Contacto",
    "link": null,
    "newWindow": false,
    "internal": null,
    "edit": false,
    "isInternal": true,
    "internalName": "",
    "internalIcon": null,
    "type": "internal",
    "title": "Contacto"
  }
]]]></listaDeEnlaces>
    <pageTitle><![CDATA[Rondas México]]></pageTitle>
    <plantilla2 id="1061" key="5f556ba7-5650-4fb6-8eed-0818ffd31645" parentID="1053" level="2" creatorID="0" sortOrder="0" createDate="2018-02-09T13:13:43" updateDate="2018-02-09T13:13:43" nodeName="Menú Principal" urlName="menú-principal" path="-1,1053,1061" isDoc="" nodeType="1056" creatorName="Armando Diaz" writerName="Armando Diaz" writerID="0" template="0" nodeTypeAlias="plantilla2">
      <listaDeEnlaces><![CDATA[[
  {
    "caption": "Link 1",
    "link": "http://",
    "newWindow": false,
    "edit": false,
    "isInternal": false,
    "type": "external",
    "title": "Link 1"
  },
  {
    "caption": "Link 2",
    "link": "http://",
    "newWindow": false,
    "edit": false,
    "isInternal": false,
    "type": "external",
    "title": "Link 2"
  },
  {
    "caption": "Link 3",
    "link": "http://",
    "newWindow": false,
    "edit": false,
    "isInternal": false,
    "type": "external",
    "title": "Link 3"
  }
]]]></listaDeEnlaces>
    </plantilla2>
  </home>
</root>